.messageListParent {
    font-size: 1.5em;
}

.messageListChild {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 5px;
    padding: 0;
    height: 95%;
}

.messageListChild li {
    width: 90%;
    height: 48px;
    margin: 1px 1%;
    text-align: center;
    background-color: #2c2c36;
    color: #e5abf1;
    display: flex;
    algin-items: center;
    justify-content: center;
}

#messageRemove {
    background-color: #A51D2D;
    color: #ffffff;
    margin-left: 20px;
    height: 3vh;
    width: 25%;
    font-size: 1.5em;
}
